<!DOCTYPE html>
<html>
<head>
	<title>{% block titulo %}{% endblock titulo %}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
</head>
<body>
<div class="container">
	<div class="well">
		<h3>Sistema CRUD en Django</h3>
		{% block contenido %}{% endblock contenido %}
	</div>
</div>
</body>
</html>